body {
    font-family: 'Noto Serif', serif;
    background: black;
    font-size: 0.25cm;
}

a {
    color: black;
}

a:hover {
    font-family: 'Inconsolata', monospace;
}

div.article, div.masthead {
    background: white;
    padding: 1in;
    margin: auto;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    width: 21cm;
}

div.article {
    height: 10cm;
    display: inline-block;
}

h1.masthead {
    font-size: 2cm;
}

h1.article {
    font-size: 1.25cm;
}

h2.article {
    font-size: 1cm;
}

h1 {
    font-size: 1cm;
}

h2 {
    font-size: .75cm;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
