body {
    font-family: 'Noto Serif', serif;
    background: black;
    font-size: 5mm;
}

a {
    color: black;
}

a:hover {
    font-family: 'Inconsolata', monospace;
}

div.article, div.masthead {
    background: white;
    padding: 1in;
    margin: auto;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    width: 8.5in;
}

h1.masthead {
    text-align: center;
    font-size: 2cm;
}

h1.article {
    font-size: 15mm;
}

h2.article {
    font-size: 17.5mm;
}

h1 {
    font-size: 1cm;
}

h2 {
    font-size: 7.5mm;
}
